body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #78ffd6, #a8ff78);
    animation: gradientAnimation 1s infinite alternate;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 20px 0;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
}

#hero {
    text-align: center;
    padding: 100px 0;
}

#hero h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

#hero p {
    font-size: 1.1em;
    margin-bottom: 30px;
}

.btn {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #555;
}

#about {
    background-color: #f9f9f9;
    padding: 100px 0;
}

#features {
    padding: 100px 0;
}

.feature {
    text-align: center;
    margin-bottom: 40px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.feature:hover {
  transform: translateY(-2px);}
.feature img {
    width: 100
}
#contact {
    background-color: #f9f9f9;
    padding: 100px 0;
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
